.text-center
	%h1
		= t(".welcome")
	%p
		= link_to t('.work'), work_path, class: "btn btn-lg btn-primary"
-#.container
-#  %h3= t('.welcome')
-#
-#  .about-copy
-#    %p.list
-#      Приложение Experteese предназначено для сбора оценок предпочтений пользователей.
-#      %br
-#      Пользователи выступают в роли экспертов. Их мнение крайне важно для экспертного сообщества.
-#      %br
-#      На основе частных мнений экспертов вычисляется средняя квалифицированная оценка.
-#      %br
-#      Собранные в данном приложении данные представляют интерес как для самих экспертов,
-#      так и для сторонних организаций и пользователей, занятых, например, в сфере маркетинга и изучения рынков.
-#
-#    %i.fa.fa-flag.iconsMain{ style: "color: #C44BB4; font-size: 2em; position: relative; left: 50%;" }
-#



