- provide(:title, "Contacts")
.container
  %h3= t('.contacts_title')

  .about-copy
    %p.list
      Приложение Experteese разработано в качестве практического материала для изучения курса

      "Применение альтернативных фреймвоков Ruby_on_Rails".
      %br

      Предложения по развитию приложения и улучшению его функциональности можно направлять по адресу:
      volkova.annie@gmail.com
      %br

    %i.fa.fa-flag.iconsMain{ style: "color: #C44BB4; font-size: 2em; position: relative; left: 50%;" }
  %p Find me in app/views/main/contacts.html.haml
