.form_select
  = form_tag("work/display_theme", remote: true,  :format => "js") do
    = select_tag :theme,
     options_for_select(@themes, selected: @selected_theme),
     prompt: t('.default_select'),
     onchange:  "$(this).parent('form').submit();",
     formats: [ :js ]
